<div class="panel panel-info" id="postForm">
    <div class="panel-heading">
        <div class="panel-title"><%= title %></div>
    </div>     

    <div style="padding-top:30px" class="panel-body">
           
         <%= form_for(@post, :html => {:class => 'form-horizontal'})  do |f| %> 
          <% if @post.errors.any? %>
         <div id="error_explanation">
          <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

          <ul>
          <% @post.errors.full_messages.each do |message| %>
            <li><%= message %></li>
            <% end %>
          </ul>
        </div>
        <% end %>
      
          <div style="margin-bottom: 25px" class="form-group">
                <div class="col-md-12">
                  <%= f.text_field :title, class: "form-control", placeholder:"Name of you'r story...",autocomplete: "off" %>
                </div>
            </div>

          <div style="margin-bottom: 25px" class="form-group">
                <div class="col-md-12">
                  <%= f.text_area :text, class: "form-control", placeholder:"Write your story here...",autocomplete: "off" %>
                </div>
            </div>
      
          <div style="margin-top:10px" class="form-group">
              <div class="col-md-12 controls">
                <%= link_to 'Back', posts_path, class:"btn btn-default" %>
                <% if @post.id %>
                  <%= link_to 'Show', @post, class:"btn btn-info" %>
                <% end %>
                <%= f.submit  class:"btn btn-success" %>
              </div>
          </div>
        <% end %>
    </div>                     
</div>